.cardbox {
  padding: 0;
}

.cardbox-padding {
  padding: 1.125rem;
}

.cardbox h3.cardbox-title,
.cardbox a h3.cardbox-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #484848;
}

.cardbox p.cardbox-para,
.cardbox a p.cardbox-para {
  font-size: 14px;
  color: #808080;
}

.cardbox a:hover h3.cardbox-title {
  text-decoration: underline;
  color: #202020;
}
